/* reset styles */

* {
    margin: 0px;
    padding: 0px;
  }
  
  /* begin styles */
  
  body {
    background-color: grey;
  }

  title {
    font:Garamond; 
    color:orange;
  }

  h1 {
    font: Georgia;
    color:olivedrab;
  }