/* reset styles */

* {
    margin: 0px;
    padding: 0px;
  }
  
  /* begin styles */
  
  body {
    background-color: grey;
  }

  h1 {
    font: Georgia;
    color:olivedrab;
    background-color:white;
  }