body {
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

.content {
    margin: auto;
    height: 100%;
    background-color: white;
}

.intro {
    position: relative;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    float: right;
    padding-top: 200px;
}

.container {
    position: relative;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.top {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: white;
    height: auto;
    font-family: 'Patua One', cursive;
    float: left;
}

.top h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'UnifrakturMaguntia', cursive;
}

.top h3 {
    display: inline;
    font-size: 12px;
}


td:hover {
    color: #0000ff;
}

td:active {
    color: red;
}

table {
    width: 100%;
    border-top: 1px black solid;
    border-bottom: 3px #000000 solid;
}

#website {
    text-align: center;
}

i {
    color: red;
}

p:hover {
    color: #0000ff;
}

ul {
    font-family: 'Patua One', cursive;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 120px;
    background-color: white;
    position: fixed;
    padding-top: 220px;
    z-index: 2;
    float: left;
    text-align: left;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background: #0000ff;
    color: red;
}

img {
    position: relative;
    margin: 10px;
    float: left;
    filter: grayscale(100%);
    filter: gray;
    width: 200px;
}

img:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.container {
    width: 80%;
    float: right;
}

p {
    font-family: 'Patua One', cursive;
    text-align: left;
    margin: 25px;
}

.img-lists {
    float: left;
    width: 33%;
    height: 33%;
}

.img-lists img {
    width: 80%;
    height: 80%;
    display: block;
}

.visual {
    width: 80%;
    float: right;
    border: 2px dashed black;
}

.multiples {
    float: left;
    width: 25%;
    height: 25%;
}

.multiples img {
    width: 80%;
    height: 80%;
    display: block;
}


@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

img:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

h2 {
    font-family: 'Poiret One', cursive;
    color: #0000ff;
    font-size: 60px;
    margin: 15px;
    text-align: left;
}

@-webkit-keyframes jello {

    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

@keyframes jello {

    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}


h1:hover {
    color: #0000ff;
    font-family: 'Fascinate Inline', cursive;
    font-size: 70px;
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-transform-origin: center;
    transform-origin: center;
    animation-duration: 1.5s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

h3 {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    text-align: left;
    float: left;
    color: #0000ff;
}

h4 {
    font-family: 'Lobster', cursive;
    font-size: 15px;
    text-align: left;
}

h4:hover {
    color: red;
}

/* mobile */
@media (max-width: 670px) {
    h2 {
        font-size: 20px;
    }

    .img-lists {
        float: left;
        width: 100%;
        height: 100%;
    }

    .img-lists img {
        width: 80%;
        height: 80%;
        display: block;
    }

    ul {
        top: 110px;
        width: 80px;
        font-size: 10px;
    }

    .intro {
        position: relative;
        top: 110px;
        margin: 5px;
        z-index: 2;
        float: right;
    }

    .container {
        padding-top: 60px;
    }







}