/* reset styles */

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: white;
}

/* flag canvas */

#canvas {
  width: 400px;
  height: 600px;
  position: relative;
  background: white;
}

/* shapes */

#canvas div {
  border-radius: 200px;
  position: absolute;
}

#ear-1 {
  width: 100px;
  height: 100px;
  background: black;

  top: 100px;
  left: 20px;
}

#ear-2 {
  width: 100px;
  height: 100px;
  background: black;
  top: 20px;
  left: 120px;
}

#head {
  width: 140px;
  height: 140px;
  background: beige;

  top: 120px;
  left: 130px;
}

#eye-1 {
  width: 25px;
  height: 25px;
  background: black;

  top: 160px;
  left: 180px;
}

#eye-2 {
  width: 25px;
  height: 25px;
  background: black;

  top: 160px;
  left: 220px;
}

#nose {
  width: 45px;
  height: 45px;
  background: black;
  top: 180px;
  left: 260px;
}

#mouth {
  width: 35px;
  height: 35px;
  background: red;
  top: 220px;
  left: 170px;
}

#body {
  width: 160px;
  height: 160px;
  background: red;
  top: 260px;
  left: 190px;
}

#button-1 {
  width: 30px;
  height: 30px;
  background: black;
  top: 300px;
  left: 240px;
}

#button-2 {
  width: 30px;
  height: 30px;
  background: black;
  top: 300px;
  left: 290px;
}


#foot-1 {
  width: 140px;
  height: 140px;
  background: yellow;
  top: 380px;
  left: 70px;
}

#foot-2 {
  width: 140px;
  height: 140px;
  background: yellow;
  top: 430px;
  left: 240px;
}